doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title API Documentation - Stormshield Management Center
  link(rel="stylesheet", type="text/css", href="/docs/api/swagger/swagger-ui.css")
body
  #swagger-ui
  script(src="/docs/api/swagger/swagger-ui-bundle.js")
  script(src="/docs/api/swagger/swagger-ui-standalone-preset.js")
  script
    | window.onload = function() {
    |   const ui = SwaggerUIBundle({
    |     dom_id: '#swagger-ui',
    |     url: '/docs/api/swagger/bundle.json',
    |     presets: [
    |       SwaggerUIBundle.presets.apis,
    |       SwaggerUIBundle.SwaggerUIStandalonePreset
    |     ],
    |     layout: 'BaseLayout',
    |     docExpansion: 'none',
    |     tagsSorter: 'alpha',
    |     operationsSorter: 'method'
    |   });
    |   window.ui = ui;
    | }
